@font-face {
  font-family: 'MacPawFixelDisplayBold';
  src: url('fonts/MacPawFixelDisplay-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('MacPawFixelDisplay-Bold.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'MacPawFixelDisplaySemiBold';
  src: url('fonts/MacPawFixelDisplay-SemiBold.woff2') format('woff2'), /* Modern Browsers */
       url('MacPawFixelDisplay-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
